{% extends 'base.html' %}
{% load static %}
{% block title %} Um pouco sobre mim {% endblock %}
{% block meta_description %} Me conheca um pouco mais {% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/Rebecca2.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Galeria</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Galeria</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

<head>
  <link rel="stylesheet" href="{% static 'website/css/stylegallery.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/stylegallery2.css' %}">
  <script src="{% static 'website/js/lightbox-plus-jquery.min.js' %}"></script>
</head>
<div class="gallery">
  <a href="{% static 'website/img/galeriarebecca/Rebeccag1.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas1.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag2.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas2.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag3.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas3.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag4.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas4.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag5.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas5.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag6.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas6.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag7.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas7.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag8.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas8.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag9.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas9.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag10.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas10.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag11.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas11.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag12.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas12.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag13.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas13.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag14.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas14.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag15.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas15.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag16.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas16.jpg' %}"></a>
  <a href="{% static 'website/img/galeriarebecca/Rebeccag17.jpg' %}" data-lightbox="mygallery"><img src="{% static 'website/img/galeriarebecca/Rebeccas17.jpg' %}"></a>

</div>



{% endblock %}