{% extends 'base.html' %}
{% load static %}


{% block content %}



  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/Rebecca2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Hi! Me chamo Rebecca e sou a bebê mais linda do mundo!</h2>
                <p data-animation="fadeInUp" data-delay="300ms">Gostaria muito que você visitasse o meu Instagram e me seguisse para me dar um apoio. Prometo que vou sempre postar fotos lindas. E se você gostar, entre em contato para uma parceria!</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'gallery' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Galeria</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="700ms">Contato</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/Rebecca1.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Hi! Me chamo Rebecca e sou a bebê mais linda do mundo!</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Gostaria muito que você visitasse o meu Instagram e me seguisse para me dar um apoio. Prometo que vou sempre postar fotos lindas. E se você gostar, entre em contato para uma parceria!</p>
                <div class="welcome-btn-group">
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Galeria</a>
                  <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="700ms">Contato</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/Rebecca3.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Sobre a Rebecca</h2>
              <div class="line"></div>
            </div>
            <p>Oi gente! Tudo bem? Então, vou contar um pouquinho sobre mim. Eu nasci nos Estado Unidos da America no ano de 2018, mas também sou Brasileria! Gosto muito de tirar fotos e adoro postar videos no stories do Instagram... </p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Fofura</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Americana</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="50"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Brasileira</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="50"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">1</span></h2>
            <h5>Anos de Idade</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">3000</span>+</h2>
            <h5>Likes</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">40</span>+</h2>
            <h5>Fotos</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">2</span></h2>
            <h5>Nascionalidades</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/Rebecca8.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>YouTube</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!--<img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Whitening</h6> -->
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!--<img src="{% static 'website/img/core-img/s2.png' %}" alt="">
                  <h6>Missing Teeth</h6> -->
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!--<img src="{% static 'website/img/core-img/s3.png' %}" alt="">
                  <h6>Teeth Whitening</h6> -->
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!--<img src="{% static 'website/img/core-img/s4.png' %}" alt="">
                  <h6>Cosmetic Dentistry</h6> -->
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!-- <img src="{% static 'website/img/core-img/s5.png' %}" alt="">
                  <h6>Examination</h6> -->
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <!--<img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                  <h6>Teeth Pain</h6> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/c_lJQme9NEA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Dento Pricing Table Area Start -->
  <section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Perguntinhas</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Pergunta</th>
                  <th scope="col">Resposta</th>
                  <!--<th scope="col">Price</th>-->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Que dia eu nasci?</th>
                  <td>28 de Setembro</td>
                  <!--<td>$115.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Em qual país eu nasci?</th>
                  <td>USA</td>
                  <!--<td>$100.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Qual minha cor favorita?</th>
                  <td>Rosa, mas gosto de muitas</td>
                  <!--<td>$99.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Qual desenho eu gosto mais de assistir?</th>
                  <td>Cocomelon</td>
                  <!--<td>$50.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Qual meu hobbie favorito?</th>
                  <td>Comer</td>
                  <!--<td>$400.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Quantos estados Americanos eu conheço?</th>
                  <td>10</td>
                  <!--<td>$35.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Meu brinquedo favorito?></th>
                  <td>"bibi" carrinho</td>
                  <!--<td>$99.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Meu sonho de viagem?</th>
                  <td>Bora Bora</td>
                  <!--<td>$170.00</td>-->
                </tr>
                <tr>
                  <th scope="row">O que quero ser quando crescer?</th>
                  <td>Modelo!</td>
                  <!--<td>$499.00</td>-->
                </tr>
                <tr>
                  <th scope="row">Meu "títí" tio favorito?</th>
                  <td>Gabriel</td>
                  <!--<td>$600.00</td>-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--<div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Pricing Table Area End -->

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/Rebecca5.jpg' %}');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Fale Comigo</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Nome" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Telefone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="País">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Mensagem"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Minha Família</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Tio1.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/gabriel.franca.3914"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/gabrieljfranca/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCzSPFNP9KgZ7g92qKZBl7bA"><i class="fa fa-youtube"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Gabriel França</h5>
                <p>Computer Scientist(tio)</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Mae1.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/priscilanajara.franca"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/rebeccanaamerica/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCzSPFNP9KgZ7g92qKZBl7bA"><i class="fa fa-youtube"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Priscila França</h5>
                <p>Administradora(mamãe)</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Familia1.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/ademir.adriana.3"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/franca866/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCzSPFNP9KgZ7g92qKZBl7bA"><i class="fa fa-youtube"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Ademir & Adriana / Vild</h5>
                <p>Avós / Papai</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/Rebecca7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/Rebecca6.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Me sigam no Instagram!!!”</h5>
                <h6>@rebeccanaamerica</h6>
                <p></p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/tio2.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Oi pessoal! Sou Gabriel Franca, tio da Rebecca e gostaria de dizer a quer se voces gostaram
                  desse website, entrem em contado com atraves do meu Instagram ou aqui na pagina de contado do site”</h5>
                <h6>@gabrieljfranca</h6>
                <p>Gabriel França</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->

            </div>
          </div>
        </div>
      </div>

  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Parcerias Mais Recentes</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'gallery' %}">
              <img src="{% static 'website/img/bg-img/Rebeccaparceria1.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Janie and Jack</a>
              <p>Rebecca vistindo tudo Janie and Jack</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> Abril 2020</a>
                <!--<a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>-->
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'gallery' %}">
              <img src="{% static 'website/img/bg-img/Rebeccaparceria2.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Carter's</a>
              <p>Rebecca vistindo Carter's</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> Maio 2020</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>-->
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'gallery' %}">
              <img src="{% static 'website/img/bg-img/Rebeccaparceria3.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Maia Laços</a>
              <p>Rebecca usando um laço da Maia Laços</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> Junho 2020</a>
                <!--<a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}